.client_cell_container {
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 7);
}

.client_cell_container HBox {
    -fx-spacing: 15;
    -fx-alignment: Center_left;
}

.client_cell_container HBox Label {
    -fx-text-fill: #444444;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}

.acc_display_lbl {
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.delete_btn {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #FF0000;
}

.delete_btn:hover {
    -fx-cursor: hand;
}

.message-label {
    -fx-text-fill: black;
}

/* Keep the message label text color black when the cell is selected */
.list-cell:filled:selected .message-label,
.list-cell:filled:selected:focused .message-label,
.list-cell:filled:selected:hover .message-label {
    -fx-text-fill: black;
}

/* Optional: Remove the selection background color */
.list-cell:filled:selected,
.list-cell:filled:selected:focused,
.list-cell:filled:selected:hover {
    -fx-background-color: transparent;
}