/* card.css */

/* Định kiểu cho toàn bộ VBox */
.vbox-card {
    -fx-alignment: center;
    -fx-pref-height: 204px;
    -fx-pref-width: 160px;
    -fx-background-color: #f0f0f0;
    /* Màu nền cho VBox */
    -fx-margin: 5px;
    /* Khoảng cách trong cho VBox */
    -fx-background-radius: 10;
    /* Bo góc cho VBox */
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 10;
}

/* Định kiểu cho Label title */
.vbox-card .label-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    /* Padding cho khoảng cách trong */
}

/* Định kiểu cho Label author */
.vbox-card .label-author {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
    /* Màu chữ nhạt hơn */
}

/* Hiệu ứng động cho phần card với shadow và xoay */
.card-cover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0.5, 5, 5);
    -fx-rotate: 0deg;
    -fx-transition: -fx-rotate 0.6s ease, -fx-translate-x 0.6s ease;
}

.vbox-card:hover {
    -fx-cursor: hand;
}